<div class="container">
  <div class="header-container">
    <div class="header-wrap">
      <h2 class="header-title">TGME.PRO — переадресация трафика в Telegram по аналогии t.me</h2>
      <h3 class="header-description">Сервис бесплатный и работает без регистрации, в любой Telegram ссылке замените t.me
        на tgme.pro.

        Чтобы сделать ссылки более уникальными и отслеживать статистику, необходимо пройти регистрацию и подключить свой
        канал.

        Для открытых каналов подключение происходит в автоматическом режиме в личном кабинете.

        Если у вас закрытый канал и вы хотели бы получить красивую короткую ссылку, подключить статистику или установить
        свое фоновое изображение на ссылку перехода, напишите нам support@tgme.pro или @alex_frolov_tg. Услуга
        предоставляется бесплатно.</h3>
    </div>
  </div>
  <div class="content-container">
    <div class="content-item">
      рамка айфона с ссылкой внутри
    </div>
  </div>
</div>
