<div class="service">
  <div class="w">
    <div class="service-left"><h2 class="service__title">TGME.PRO — переадресация трафика&nbsp;в&nbsp;Telegram по
      аналогии t.me</h2>
      <div class="service__description">Сервис бесплатный и работает без регистрации, в любой Telegram ссылке замените
        t.me на tgme.pro.<br><br>Чтобы сделать ссылки более уникальными и отслеживать статистику, необходимо пройти
        регистрацию и подключить свой канал. <br><br>Для открытых каналов подключение происходит в автоматическом режиме
        в личном кабинете. <br><br>Если у вас закрытый канал и вы хотели бы получить <a href="#short">красивую короткую
          ссылку</a>, подключить статистику или установить свое фоновое изображение на ссылку перехода, напишите нам <a
          href="mailto:support@tgme.pro" target="_blank">support@tgme.pro</a> или <a
          href="https://tgme.pro/alex_frolov_tg" target="_blank">@alex_frolov_tg</a>. Услуга предоставляется бесплатно.
      </div>
    </div>
    <div class="service-right"><a class="service-phone" href="https://tgme.pro/mudak" target="_blank">
      <div class="service-phone__top"></div>
      <div class="service-phone__body"><img class="service-phone__image"
                                            src="/assets/images/i-phone-bg-6fbceeb943455f6c7667b14cad738ddab36b9d31804143548f5445fdf74129e6.png">
      </div>
      <div class="service-phone__bottom"></div>
    </a></div>
  </div>
</div>

