.container {
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
}

.header-container {
  width: 100%;
  border: 1px solid green;
}

.header-wrap {
  padding-left: 60px;
  padding-right: 60px;

  .header-description {
    padding-bottom: 40px;
    font-size: 15px;
    color: #656565;
  }
}

.content-container {
  border: 1px solid green;
  width: 100%;
}
