.container {
  background-color: #878787;
}

.header-container {
  width: 70%;
  border: 1px solid green;
}
.header-wrap {
  padding-left: 60px;
  padding-right: 60px;
  .header-description {
    padding-bottom: 40px;
    font-size: 15px;
    color: #656565;
  }
}
.content-container {
  border: 1px solid green;
  width: 30%;
}
