<div class="container">
  <div class="header-container">
    <h2 class="header-title">Почему выбирают именно нас?</h2>
    <h3 class="header-description">Доверьте нам свой трафик.
      Мы заслужили доверие крупнейших ресурсов, а значит заслужим и ваше.
    </h3>
  </div>
  <div class="content-container">
    <div  class="content-container-item-container">
      <div class="content-item">
        <mat-icon>filter_none</mat-icon>
        <div class="content-item-title">Фоновое изображение</div>
        <div class="content-item-title-description">Возможность установить свое фоновое изображение для ссылки в Telegram</div>
      </div>
      <div class="content-item">
        <mat-icon>equalizer</mat-icon>
        <div class="content-item-title">Яндекс Метрика</div>
        <div class="content-item-title-description">Доступ к самой эффективной системе аналитики трафика от Яндекса</div>
      </div>
      <div class="content-item">
        <mat-icon>rotate_left</mat-icon>
        <div class="content-item-title">Высокая скорость</div>
        <div class="content-item-title-description">Благодаря умному алгоритму кешированию ссылок, переадресация происходит мгновенно</div>
      </div>
    </div>
    <div  class="content-container-item-container">
      <div class="content-item">
        <mat-icon>tag_faces</mat-icon>
        <div class="content-item-title">Предпросмотр</div>
        <div class="content-item-title-description">Превью подтягивается автоматически из Telegram</div>
      </div>
      <div class="content-item">
        <mat-icon>volume_up</mat-icon>
        <div class="content-item-title">Бесплатно</div>
        <div class="content-item-title-description">Отсуствие абонентской платы</div>
      </div>
      <div class="content-item">
        <mat-icon>security</mat-icon>
        <div class="content-item-title">Защита от блокировок</div>
        <div class="content-item-title-description">Включена защита от DDoS и блокировок</div>
      </div>
    </div>
  </div>
</div>
