<div class="container">
  <div class="header-container">
    <h2 class="header-tittle-"></h2>
    <h3 class="header-description"></h3>
  </div>
  <div class="content-container">
    <div class="content-item">
      <mat-icon>filter_none</mat-icon>
      <div class="content-item-title"></div>
      <div class="content-item-title-description"></div>
    </div>
    <div class="content-item">
      <mat-icon>equalizer</mat-icon>
      <div class="content-item-title"></div>
      <div class="content-item-title-description"></div>
    </div>
    <div class="content-item">
      <mat-icon>rotate_left</mat-icon>
      <div class="content-item-title"></div>
      <div class="content-item-title-description"></div>
    </div>
    <div class="content-item">
      <mat-icon>tag_faces</mat-icon>
      <div class="content-item-title"></div>
      <div class="content-item-title-description"></div>
    </div>
    <div class="content-item">
      <mat-icon>volume_up</mat-icon>
      <div class="content-item-title"></div>
      <div class="content-item-title-description"></div>
    </div>
    <div class="content-item">
      <mat-icon>security</mat-icon>
      <div class="content-item-title"></div>
      <div class="content-item-title-description"></div>
    </div>
  </div>
</div>
