<div class="examples">
  <div class="w">
    <h2 class="examples__title">Нам доверяют свою аудиторию</h2>
    <div class="examples__description">Несколько примеров популярных каналов, используюших наш сервис</div>
    <div class="examples-list">
      <div class="example">
        <div class="example-image"><img class="example-image__src"
                                        src="/assets/images/mudak.jpg">
        </div>
        <div class="example-title">MDK</div>
        <div class="example-info">Более <span>400 тыс.</span> подписчиков</div>
        <a class="example-link" href="tg://resolve?domain=mudak" target="_blank">Посмотреть ссылку</a></div>
      <div class="example">
        <div class="example-image"><img class="example-image__src"
                                        src="/assets/images/topor18.jpg">
        </div>
        <div class="example-title">Топор 18+</div>
        <div class="example-info">Более <span>1 млн.</span> подписчиков</div>
        <a class="example-link" href="tg://resolve?domain=topor18" target="_blank">Посмотреть ссылку</a></div>
      <div class="example">
        <div class="example-image"><img class="example-image__src"
                                        src="/assets/images/dvach.jpg">
        </div>
        <div class="example-title">2ch/Двач</div>
        <div class="example-info">Более <span>400 тыс.</span> подписчиков</div>
        <a class="example-link" href="tg://resolve?domain=dvachannel" target="_blank">Посмотреть ссылку</a></div>
    </div>
  </div>
</div>
