.container {
  display: flex;
  flex-direction: column;
  .header-container {
    display: flex;
    flex-direction: column;
  align-items: center;
    .header-description {
      padding-bottom: 40px;
      font-size: 14px;
      color: #656565;
      text-align: center;
    }
  }
  .content-container {
  display: flex;
    .content-item {
      border: 1px solid purple;
      width: 100%;
    }
  }
}
