<div class="container">
  <div class="content-container">
    <div class="content-item">
      крутилка с ссылкой
    </div>
  </div>
  <div class="header-container">
    <h2 class="header-title">Короткая ссылка</h2>
    <h3 class="header-description">Не секрет, что у закрытых каналов конверсия подписок выше, по причине того, что
      контент закрыт, пользователям необходимо подписаться для доступа к содержимому канала. Но тут есть одна проблема,
      если вы переделаете открытый канал в закрытый, вы потеряете свой публичный адрес канала и получите длинную и
      скучную ссылку-приглашение. Не беда, мы поможем увеличить конверсию и сохранить открытый адрес канала, и сделаем
      это очень красиво! Напишите нам support@tgme.pro или @alex_frolov_tg. Услуга предоставляется бесплатно.</h3>
  </div>
</div>
