<div class="short">
  <div class="w">
    <div class="short-left">
      <div class="convert">
        <div class="convert-info">Из длинной стандартной ссылки</div>
        <a class="convert-link convert-link-1" href="http://teleg-on.online/joinchat/AAAAAEnC9RS5Lu6S5_ShEQ"
           target="_blank">teleg-on.online/joinchat/AAAAAEnC9RS5Lu6S5_ShEQ</a>
        <div class="convert-image"></div>
        <div class="convert-info">Получаем красивую короткую ссылку</div>
        <a class="convert-link convert-link-2" href="http://teleg-on.online/topor18" target="_blank">teleg-on.online/topor18</a>
      </div>
    </div>
    <div class="short-right"><h2 class="short__title">Короткая ссылка</h2>
      <div class="short__description">Не секрет, что у закрытых каналов <span>конверсия подписок выше</span>, по причине
        того, что контент закрыт, пользователям необходимо подписаться для доступа к содержимому канала. Но тут есть
        <span>одна проблема</span>, если вы переделаете открытый канал в закрытый, вы потеряете свой публичный адрес
        канала и получите длинную и скучную ссылку-приглашение. <span>Не беда,</span> мы <span>поможем</span> увеличить
        конверсию и сохранить открытый адрес канала, и <span>сделаем это</span> очень красиво! Напишите нам <a
          href="mailto:support@teleg-on.online" target="_blank">support@teleg-on.online</a> или <a
          href="tg://resolve?domain=dmitry_mng" target="_blank">@dmitry_mng</a>. Услуга предоставляется бесплатно.
      </div>
    </div>
  </div>
</div>
