.redirector {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #3f4452;
  background: #f6f7fa;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 450px;
  background: #ffffff;
  box-shadow: 0px 0px 150px 40px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  text-align: center;
  margin: 25px auto;
}

@media (max-width: 500px) {
  .form {
    width: 90%;
  }
}

.form_image {
  margin-top: 100px;
}

.form-controls {
  padding-bottom: 40px;
  text-align: center;
}

.block-a {
  width: 300px;
  margin: 0px auto;
}

.form .tg-install {
  margin-top: -10px;
}

.tg-install {
  margin: 15px auto;
  text-align: center;
  color: #b3b3b3;
}

.form-fallback__image {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin: -60px auto 20px auto;
  position: relative;
}

.form-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-info {
  font-size: 14px;
  margin-bottom: 30px;
}

.form-controls__open {
  width: 200px;
  height: 40px;
  background: #346bed;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  transition: all 0.22s ease;
  color: #ffffff;
  text-decoration: none;
}

.form-controls__open:after {
  content: '';
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background: url(/assets/images/i-button-5bcae8f1c7de77aa13ae91e4ee506e7e99bb9c69d163b88be95fe5a0edcdd35e.svg) center no-repeat;
  background-size: contain;
}

.tg-install__text {
  font-size: 11px;
}

.tg-install__link_android {
  background: url(/assets/iamges/697bb077cb0d728544245a9e2c910980af9ff389555b272c49693c7f9fb72560.svg) center no-repeat;
  background-size: 21px 25px;
}

.tg-install__link {
  width: 42px;
  height: 40px;
  display: inline-block;
}

.tg-install__link_apple {
  background: url(/assets/iamges/5c17a60c1f86d3bb95cb5377bdf0430c740f90e7f73dee1292f4e30fa47ed210.svg) center no-repeat;
  background-size: 21px 25px;
}

.form-fallback__image:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #9bb9ff;
  border: 5px solid #ffffff;
  left: 0px;
  top: 0px;
  z-index: 0;
  -webkit-animation-name: pulsenormal;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: pulsenormal;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -o-animation-name: pulsenormal;
  -o-animation-duration: 1.5s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  animation-name: pulsenormal;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.form-fallback__image-src {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  background: #346bed url(/assets/images/i-button-5bcae8f1c7de77aa13ae91e4ee506e7e99bb9c69d163b88be95fe5a0edcdd35e.svg) center no-repeat;
  background-size: 70px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  border: 5px solid #ffffff;
  object-fit: cover;
}

@keyframes pulse {
  0% {
    opacity: 0.7;
    transform: scale(1)
  }
  100% {
    opacity: 0;
    transform: scale(1.7)
  }
}

@-webkit-keyframes pulsenormal {
  0% {
    opacity: 0.7;
    -webkit-transform: scale(1)
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.4)
  }
}

@-moz-keyframes pulsenormal {
  0% {
    opacity: 0.7;
    -moz-transform: scale(1)
  }
  100% {
    opacity: 0;
    -moz-transform: scale(1.4)
  }
}

@-o-keyframes pulsenormal {
  0% {
    opacity: 0.7;
    -o-transform: scale(1)
  }
  100% {
    opacity: 0;
    -o-transform: scale(1.4)
  }
}

@keyframes pulsenormal {
  0% {
    opacity: 0.7;
    transform: scale(1)
  }
  100% {
    opacity: 0;
    transform: scale(1.4)
  }
}

.redirector .form .form-title {
  font-family: 'Montserrat', sans-serif !important;
  letter-spacing: normal;
  margin: 0 0 16px;
}

.form-info {
  font-size: 14px;
  margin-bottom: 30px;
}

.form .tg-install {
  margin-top: -10px;
}

.tg-install {
  margin: 15px auto;
  text-align: center;
  color: #b3b3b3;
}

.tg-install__text {
  font-size: 11px;
}

.tg-install__link_android {
  background: url(/assets/images/i-android-697bb077cb0d728544245a9e2c910980af9ff389555b272c49693c7f9fb72560.svg) center no-repeat;
  background-size: 21px 25px;
}
.tg-install__link {
  width: 42px;
  height: 40px;
  display: inline-block;
}

.tg-install__link_apple {
  background: url(/assets/images/i-apple-5c17a60c1f86d3bb95cb5377bdf0430c740f90e7f73dee1292f4e30fa47ed210.svg) center no-repeat;
  background-size: 21px 25px;
}
