<div class="footer">
  <div class="w">
    <div class="footer__left">
      <div class="footer-text">© 2018 — 2020 tgme.pro | <a href="#" target="_blank">Правила использования
        сервиса</a> | <a href="#" target="_blank">Черный лист</a> | <a
        href="https://money.yandex.ru/to/410012883268975" target="_blank">На развитие проекта</a></div>
    </div>
    <div class="footer__right">
      <div class="footer-text">Наши контакты <a href="#" target="_blank">support@tgme.pro</a> или
        в Telegram <a href="#" target="_blank">@alex_frolov_tg</a></div>
    </div>
  </div>
</div>
