<section id="menu">
  <app-menu></app-menu>
</section>

<section id="redirect">
  <app-redirect></app-redirect>
</section>

<section id="trust">
  <app-trust></app-trust>
</section>

<section id="benefits">
  <app-benefits></app-benefits>
</section>

<section id="service">
  <app-service></app-service>
</section>

<section id="short">
  <app-short></app-short>
</section>

<section id="examples">
  <app-examples></app-examples>
</section>

<section id="footer">
  <app-footer></app-footer>
</section>
