:host {
  display: flex;
  height: calc(100vh - 90px - 80px);
  justify-content: center;
  //align-items: center;
  margin-top: 20px;

  .mat-column-actions {
    max-width: 25px!important;
  }
  .mat-column-url {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 28% !important;
    width: 28% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}

//::ng-deep


.links .w {
  display: flex;
  align-items: center;
  width: 1000px;
  flex-direction: column;

  .links-table {
    width: 90%;
  }
}

@media (max-width: 1250px) {
  .w {
    width: 1000px;
  }
}

@media (max-width: 1050px) {
  .w {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .links {
    width: 100%;
  }

  .links .w {
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .w {
    width: 95%;
  }
}

.actions {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.info {
  opacity: 0.7;


  h1 {
    margin: 0;

    small {
      color: #999;
    }
  }

  .info-description {
    margin-bottom: 20px;
    color: #999;
  }

  .btn {
  }
}

.wrap {
  white-space: pre-wrap;
}
.hover-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

