<div class="header">
  <div class="w">
    <div class="header__top">
      <div class="logo"></div>
      <div class="nav">
        <a class="nav__link" href="#benefits">Преимущества</a>
        <a class="nav__link" href="#service">О
          сервисе</a>
        <a class="nav__link nav__link_new" href="#short">Короткая ссылка</a>
        <a class="nav__link"
           href="#examples">Примеры</a>
<!--        <a class="nav__link" href="#" target="_blank">На развитие</a>-->
        <a class="nav__link nav__link_sign" href="#">Войти</a>
      </div>
    </div>
  </div>
</div>

