<div class="container">
 <div class="menu-container">
   <mat-toolbar>
     <div class="logo"></div>
     <span class="spacer"></span>
     <button mat-flat-button class="menu-btn" aria-label="label?">Преимущества</button>
     <button mat-flat-button class="menu-btn" aria-label="label?">О сервисе</button>
     <button mat-flat-button class="menu-btn" aria-label="label?">
       <span matBadge="new" matBadgeOverlap="false">Короткая ссылкаe</span>
     </button>
     <button mat-flat-button class="menu-btn" aria-label="label?">Примеры</button>
     <button mat-flat-button class="menu-btn" aria-label="label?">На развитие</button>
     <button mat-flat-button class="menu-btn login" aria-label="label?">Войти</button>
   </mat-toolbar>
 </div>
</div>
