/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
 align-items: center;
}
.wrapper {
  min-width: 1000px;
  max-width: 1200px;
  display: flex;
}
.container {
  width: 100%;
  padding: 10px;
  display: flex;
  .header-container {
    .header-title {
      padding: 50px 0 20px 0;
      text-align: center;
      font-size: 35px;
      color: #4c4c4c;
    }
  }
  .content-container {
    .content-container-item-container {
      display: flex;
    }
  }
}
