<div class="trust">
  <div class="w">
    <div class="trust-inside">
      <div class="trust__title">Нам доверяют лучшие</div>
      <div class="trust-list"><a class="trust-list__item" href="https://tgme.pro/TransformatorTV" target="_blank"><img
        class="trust-list__image trust-list__image_border"
        src="/assets/site/trust/transformator-ba29d2065b9bdffbcc300f034137f2273c55359c12f1df209bc0e242301680e9.jpg"></a><a
        class="trust-list__item" href="https://tgme.pro/mhkont" target="_blank"><img
        class="trust-list__image trust-list__image_border"
        src="/assets/site/trust/mhk-31511748cf908137f7d3c563da8f2cd2b1fe1c2396687fe6880fe727433e9dba.jpg"></a><a
        class="trust-list__item" href="https://tgme.pro/topor18" target="_blank"><img
        class="trust-list__image trust-list__image_border"
        src="/assets/site/trust/topor18-41e963e5d51bea51d42baa52e400219c55f72855ea8aae728fda4d6cee31958c.jpg"></a><a
        class="trust-list__item" href="https://tgme.pro/photodesing" target="_blank"><img
        class="trust-list__image trust-list__image_border"
        src="/assets/site/trust/phdesign-f9c0e4533ff90b4445840b2582687e3ea79d32338c2d63068fea6147183fb772.jpg"></a><a
        class="trust-list__item" href="https://tgme.pro/joinchat/AAAAAFHUK3qqHCU5hHrhTw" target="_blank"><img
        class="trust-list__image trust-list__image_border"
        src="/assets/site/trust/youlike-83ab5fff4171222ffb2f046be13b9481552eacc8fff65dce8d8f57f140437fbb.jpg"></a>
        <div class="trust-list__item trust-list__item_free">+1000</div>
      </div>
    </div>
  </div>
</div>
