<div class="trust">
  <div class="w">
    <div class="trust-inside">
      <div class="trust__title">Нам доверяют лучшие</div>
      <div class="trust-list"><a class="trust-list__item" href="tg://resolve?domain=TransformatorTV" target="_blank"><img
        class="trust-list__image trust-list__image_border"
        src="/assets/images/transformator-ba29d2065b9bdffbcc300f034137f2273c55359c12f1df209bc0e242301680e9.jpg"></a><a
        class="trust-list__item" href="tg://resolve?domain=rynok_shkurr" target="_blank"><img
        class="trust-list__image trust-list__image_border"
        src="/assets/images/81cbc9ab-6f4e-4085-a7f5-a238c1f221d6.jpeg"></a><a
        class="trust-list__item" href="tg://resolve?domain=topor18" target="_blank"><img
        class="trust-list__image trust-list__image_border"
        src="/assets/images/topor18-41e963e5d51bea51d42baa52e400219c55f72855ea8aae728fda4d6cee31958c.jpg"></a><a
        class="trust-list__item" href="tg://resolve?domain=mudak" target="_blank"><img
        class="trust-list__image trust-list__image_border"
        src="/assets/images/mudak.jpg"></a><a
        class="trust-list__item" href="tg://resolve?domain=dvachannel" target="_blank"><img
        class="trust-list__image trust-list__image_border"
        src="/assets/images/dvach.jpg"></a>
        <div class="trust-list__item trust-list__item_free">+1000</div>
      </div>
    </div>
  </div>
</div>
